.edge-workflow{
    height: 663px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: container;
    font-family: "Inter", sans-serif;
}

.edge-workflow .container{
    max-width: 1452px;
}

.edge-workflow-step {
    padding: 0 !important;
}


.edge-workflow-step{
    padding: 16px 22px !important;
    border-width: 1px;
    border-radius: 10px !important;
    box-shadow: 0px 6px 35px 0px #00000012;

}
.edge-workflow-step.wrong-cross{
    max-width: 655px;
    background-color: #F8F0E3;
    border: 1px solid #FF9C00;
}

.edge-workflow-step.b-warning{
    max-width: 806px;
    background-color: #E2F1FF;
    opacity: 1;
    border: 1px solid #3A9FFF;
    margin-top: 130px;
    margin-bottom: 102px;
    margin-left: -95px;
}


.edge-workflow-step p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 46px;
    margin-bottom: 0px;
}
.edge-workflow-step.wrong-red{
    max-width: 441px;
    background-color: #FFE5FE;
    opacity: 1;
    border: 1px solid #FF4FFB;
    margin-top: -80px;
}

.edge-workflow-step.wrong-yellow{
    width: 448px;
    background: #F7FDE1;
    border: 1px solid #C8FF00;
}

.edge-workflow-step.right-green{
    background: #EBFFFF;
    max-width: 712px;
    border: 1px solid #00FFFF;
    margin-top: 60px;
    margin-left: 181px;

}



/* Step 1 - Top Orange (Error) */
.edge-workflow-step.wrong-cross{
   /* background-color: #F8F0E3;
    border: 1px solid #FF9C00;
    top: 30px;
    left: 35px;*/
}

.edge-workflow-step.wrong-cross::before {
    content: "✕";
    position: absolute;
    top: -10px;
    right: -10px;
    background: #FF4444;
    color: white;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
}

/* Step 2 - Top Right Blue (Warning) */
/*.edge-workflow-step.b-warning{
    max-width: 735px;
    background-color: #E2F1FF;
    border: 1px solid #3A9FFF;
    top: 70px;
    right: 0px;
}
*/
.edge-workflow-step.b-warning::before {
    content: "⚠";
    position: absolute;
    top: -10px;
    right: -10px;
    background: #FFA500;
    color: white;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
}

/* Step 3 - Left Purple (Error) */
/*.edge-workflow-step.wrong-red{
    max-width: 441px;
    background-color: #FFE5FE;
    border: 1px solid #FF4FFB;
    top: 240px;
    left: 85px;
}*/

.edge-workflow-step.wrong-red::before {
    content: "!";
    position: absolute;
    top: -10px;
    left: -10px;
    background: #FF4444;
    color: white;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
}

/*/* Step 4 - Right Yellow (Error) */
/*.edge-workflow-step.wrong-yellow{
    max-width: 448px;
    background: #F7FDE1;
    border: 1px solid #C8FF00;
    top: 300px;
    right: 70px;
}*/

.edge-workflow-step.wrong-yellow::before {
    content: "✕";
    position: absolute;
    top: -10px;
    right: -10px;
    background: #FF4444;
    color: white;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
}

/* Step 5 - Bottom Center Cyan (Warning) */
/*.edge-workflow-step.right-green{
    background: #EBFFFF;
    max-width: 650px;
    border: 1px solid #00FFFF;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
}*/

.edge-workflow-step.right-green::before {
    content: "⚠";
    position: absolute;
    top: -10px;
    left: -10px;
    background: #FFA500;
    color: white;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
}

